name: RollBack workflow

on:
  workflow_dispatch:
    inputs:
        version:
            description: 'Tag of the Docker image'
            required: true
            type: string

        environment:
            description: 'Deployment environment'
            required: true
            default: 'staging'
            type: choice
            options:
              - staging
              - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:  staging
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: 'Setup project id gcloud'
        run: 'gcloud config set project ${{ vars.GCP_PROJECT_ID }}'

      - name: 'Use gcloud CLI'
        run: 'gcloud info'

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ vars.DOCKER_PASSWORD }}

      - name: Use provided IMAGE_TAG
        run: echo "IMAGE_TAG=${{ github.event.inputs.version }}" >> $GITHUB_ENV

      - name: Pull Docker image
        run: docker pull "${{ vars.DOCKER_APPLICATION_NAME }}:${{ env.IMAGE_TAG }}"

      - name: Tag Docker image
        run: |
          docker tag "${{ vars.DOCKER_APPLICATION_NAME }}:${{ env.IMAGE_TAG }}" \
           "gcr.io/${{ vars.GCP_PROJECT_ID }}/${{ vars.DOCKER_APPLICATION_NAME }}:${{ env.IMAGE_TAG }}"

      - name: Push Docker image to GCP
        run: docker push "gcr.io/${{ vars.GCP_PROJECT_ID }}/${{ vars.DOCKER_APPLICATION_NAME }}:${{ env.IMAGE_TAG }}"

      - name: 'Deploy to GCP cloud run'
        run: |
          gcloud run deploy ${{ vars.SPRING_APPLICATION_NAME }} \
            --image=gcr.io/${{ vars.GCP_PROJECT_ID }}/${{ vars.DOCKER_APPLICATION_NAME }}:${{ env.IMAGE_TAG }} \
            --platform=managed --region=southamerica-east1 --allow-unauthenticated --revision-suffix=${{ env.IMAGE_TAG }}

      - name: Remove Docker images
        run: |
         docker rmi "${{ vars.DOCKER_APPLICATION_NAME }}:${{ env.IMAGE_TAG }}" \
            "gcr.io/${{ vars.GCP_PROJECT_ID }}/${{ vars.DOCKER_APPLICATION_NAME }}:${{ env.IMAGE_TAG }}"